{% if (page.author) %}
<div class="row justify-content-center">
    <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image" style="margin-top: -1.5rem; ">
            <a href="javascript:;">
                {% assign author = site.authors[post.author] %}
                {% if author.avatar %}
                <img  src="{{ site.url }}/{{site.baseurl}}/{{ author.avatar }}"  class="rounded-circle img-fluid shadow-lg" style="width: 100px;padding: 3px; background-color: #32acf7;" alt="{{ author.display_name }}">
                {% else %}
                <img  src="https://www.gravatar.com/avatar/{{ author.gravatar }}" class="rounded-circle img-fluid shadow-lg" style="width: 100px;padding: 3px;  background-color: #32acf7;" alt="{{ author.display_name }}">
                {% endif %}
            </a>
        </div>
    </div>
</div>
{% endif %}
