<div class="wrapper">
    <section class="section-profile-cover section-shaped bgimage-container">
        <div class="shape shape-style-1 shape-primary" style="filter: brightness(0.4) grayscale();">
            {% if page.image %}
            <div class="featuredimage-container"
                style="height: 80vh;min-height: 25rem;width: 100%;overflow: hidden;left: 0 !important;">
                <img class="bg-image" src="{{page.image}}"
                    style="position: absolute;top: 50%;left: 50%;min-width: 100%;min-height: 100%;width: auto;max-width: unset;height: auto;filter: grayscale();z-index: 0;-ms-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);">
            </div>
            {% else %}
            <!-- Circles background -->
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            {% endif %}
        </div>
        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-xl">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2 class="text-white display-2">{{ page.title | strip_html | truncatewords:5 }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew" style="z-index: auto;">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>