<footer class="footer">
  <div class="container">
    <div class="row row-grid align-items-center my-md">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
        <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        {% if site.data.socialnet[0] %}
        {% for item in site.data.socialnet %}
        <a target="_blank" href="{{item.url}}" rel="nofollow" class="btn btn-icon-only rounded-circle {{item.bg-class}}" data-toggle="tooltip" data-original-title="{{item.title}}">
          <span class="btn-inner--icon">
            <i class="{{item.fa-icon}}"></i>
          </span>
        </a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; 2020 <a href="/" target="_self">{{site.title}}</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          {% if site.data.footernav[0] %}
          {% for item in site.data.footernav %}
          <li class="nav-item">
            <a href="{{item.url}}" class="nav-link" target="_self">{{item.title}}</a>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
