<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand mr-lg-5" href="{{site.url}}{{site.baseurl}}/{{ site.index[page.lang] }}">
      <img loading="lazy" src="{{site.url}}{{site.baseurl}}/assets/starya/logo-white.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
      aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="{{site.url}}{{site.baseurl}}/{{ site.index[page.lang] }}">
              <img loading="lazy" src="{{site.url}}{{site.baseurl}}/assets/starya/logo-orange.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global"
              aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto navbar-nav-hover">
        {% if site.data.navitems.t[page.lang][0] %}
        {% for item in site.data.navitems.t[page.lang] %}
        {% if item.subnav[0] %}
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" data-toggle="dropdown" href="{{ item.url }}" role="button">
            <i class="{{ item.fa-icon }}"></i>
            <span class="nav-link-inner--text">{{ item.title }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-xl">
            <div class="dropdown-menu-inner">
              {% for subitem in item.subnav %}
              <a href="{{site.url}}{{site.baseurl}}" class="media d-flex align-items-center">
                <div class="icon icon-shape rounded-circle text-white {{ subitem.fa-icon-bg }}">
                  <i class="{{ subitem.fa-icon }}"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading {{ subitem.title-color }} mb-md-1">{{ subitem.title }}</h6>
                  <p class="description d-none d-md-inline-block mb-0">{{ subitem.desc }}</p>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="{{ item.url }}" target="_self" data-toggle="tooltip" title="{{ item.toottip }}">
            <i class="{{ item.fa-icon }}"></i>
            <span class="nav-link-inner--text">{{ item.title }}</span>
          </a>
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}
        <li class="nav-item">
          {% assign posts=site.posts | where:"ref", post.ref | sort: 'lang' %}
            {% for postitem in posts %}
              {% if postitem.ref != "" %}
                {% if postitem.lang != post.lang %}
                  <a class="btn btn-success btn-icon" style="width: 6rem;" href="{{ postitem.url | prepend: site.baseurl }}">{{ site.languages[postitem.lang] }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for pageitem in pages %}
            {% if pageitem.ref != "" %}
              {% if pageitem.lang != page.lang %}
                <a class="btn btn-success btn-icon" style="width: 6rem;" href="{{ pageitem.url | prepend: site.baseurl }}">{{ site.languages[pageitem.lang] }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</nav>
