<div class="subscribe-line py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-10 ml-auto mr-auto">
          <div class="text-center">
            <h4 class="display-4">Subscribe to our Newsletter</h4>
          </div>
          <form class="mt-4" method="" action="">
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email Address" type="text">
                  </div>
                </div>
              </div>
              <div class="col-sm-4 text-center">
                <button type="button" class="btn btn-secondary">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

