body{
    background-color: #f4f5f7;
}
.blockquote {
    border-left: 2px solid rgba(80, 82, 85, 0.22);
    padding-left: 1rem;
}
blockquote{
    margin: revert;
}

.contactus [class*="col-"]{
    border-right: 1px solid rgba(25,205,239,.25);
}

.contactus .info{
    max-width: 360px;
    margin: 0 auto;
    padding: 1.5rem;
    text-align: center;
    border-radius: .25rem;
    transition: all .5s;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}