---
layout: default
---
<style>
    .videobg-header {
        position: relative;
        height: 80vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
    }

    .videobg-header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        /* filter: grayscale(); */
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .videobg-header .page-header {
        position: relative;
        z-index: 2;
    }

    .videobg-header .pattern-overlay {
        position: absolute;
        background-image: linear-gradient(black 5%, transparent 40%);
        top: 0;
        left: 0;
        height: 100%;
        opacity: 0.8;
        width: 100%;
        z-index: 1;
    }

    .videobg-header .shape {
        filter: grayscale();
    }

    body {
        background: white;
    }

    /*
    
    @media screen and (min-width: 980px)
        {
        .videobg-header video {
            background: red;
        }
    }

    @media screen and (max-width: 979px)
        {
        .videobg-header video {
            background: blue;
        }
    }

    @media screen and (max-width: 500px)
        {
        .videobg-header video {
            background: green;
        }
    }
    


    @media (pointer: coarse) and (hover: none) {
        .videobg-header video {
            background: purple;
        }
    }

    */

</style>
<!-- Featured Image-->
<div class="wrapper">
    <div class="section section-hero section-shaped videobg-header">
        <!-- Pattern Overlay Bg-->
        <div class="pattern-overlay"></div>
        <div class="shape shape-style-1 shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <!-- Video Bg -->
        <video id="vid" preload="metadata" muted autoplay ></video>
            <!-- <source src="{{site.splash-videobg}}" type="video/mp4"> -->
            <!-- <p>Your browser doesn't support the HTML5 video tag it seems.</p> -->
        <script>


            function choosevideo(){
                var w = window.matchMedia("(max-width: 700px)");
                var vid = document.getElementById("vid");
                vid.innerHTML = '';
                var source = document.createElement("source");
                source.id = "hvid";
                source.setAttribute("type", "video/mp4");
                vid.appendChild(source);
                  
                if (w.matches) {
                    vid.pause();
                    source.removeAttribute("src");
                    source.setAttribute("src", "https://res.cloudinary.com/gowrav/video/upload/h_640,w_360,c_fill,g_auto/f_auto/q_auto/v1587997357/Gallery%20Starya/starya_splash_oqqrjd.mp4");
                    vid.load();
                    vid.play();
                } else {
                    vid.pause();
                    source.removeAttribute("src");
                    source.setAttribute("src", "https://res.cloudinary.com/gowrav/video/upload/f_auto/q_auto/v1587997357/Gallery%20Starya/starya_splash_oqqrjd.mp4");
                    vid.load();
                    vid.play();
                }
            }
            choosevideo();
            // window.addEventListener("resize", choosevideo);

            const video = document.querySelector('video');
            video.onended = (event) => {
                $('html, body').animate({
                    scrollTop: $("#homegrown").offset().top
                }, 2000);
            };

        </script>
        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <img loading="lazy" src="{{site.url}}/assets/img/brand/white.png" style="width: 300px;"
                                class="img-fluid">
                            <h2 class="display-2 font-weight-normal text-white">{{site.tagline}}</h2>
                            <button type="button" class="btn btn-lg btn-warning btn-icon mb-3 mb-sm-0" data-toggle="modal" data-target="#modal-default">
                                <!-- <span class="btn-inner--text">Book</span> -->
                                <span class="btn-inner--icon"><i class="fas fa-biking"></i></span>
                                <span class="btn-inner--text">Test Drive</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew" style="z-index: auto;">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal- modal-dialog-centered modal-" role="document" style="max-width: 80vh;">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default">Starya - Test Drive</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body" style="height: 60vh;">
                            <iframe height="100%" width="100%" src="https://gowravhassan.typeform.com/to/eTvvFc">
                            </iframe>
                        </div>
                        <!-- <div class="modal-footer"> -->
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        <!-- <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</div>



<!-- Basic Intro-->
<div id="homegrown">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="info info-horizontal info-hover-primary">
                    <div class="description">
                        <h3 class="display-3 title">Home Grown</h3>
                        <p>To make it suistainable, we grew every part of the ev-core in house</p>
                        <label>Rated Power</label>
                        <code>6kW / 10kW</code>
                        <br>
                        <label>Acceleration [0-40]</label>
                        <code>3.9s</code>
                        <br>
                        <label>Top Speed</label>
                        <code>75kmph</code>
                        <br>
                        <a href="/ark" class="text-info">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 px-5">
                <img src="{{site.url}}/assets/starya/core_real.png" width="100%">
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="{{site.url}}/assets/js/core/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/plugins/jquery.appear.js"></script>
<!-- <script type="text/javascript" src="{{site.url}}/assets/js/plugins/ScrollMagic.min.js"></script> -->

<div class="container py-5">
    <div id="homegrown" class="row align-items-center">
        <div class="col-lg-9">
            <div id="bikeimagesequence">
                <img style="width:100%" id="bikeimage" src="{{site.url}}/assets/starya/bikesketch/bike_sketch_1.png"
                    onclick="resume_or_pause()" /><br>
            </div>
        </div>
        <div class="col-lg-3">
            <div id="bike_img_trigger" data-appear-top-offset="0"></div>
            <div class="info info-horizontal info-hover-primary">
                <div class="description">
                    <h3 class="display-3 title">Upgrade</h3>
                    <p>Agile Ride Kit (ARK), is a plug and play conversion kit that can convert any single suspension
                        internal combustion engine scooter to electric.</p>
                    <a href="/ark" class="text-info">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <script>

        // Bikesketch Animation
        const bikesketch_imagePath = '{{site.url}}/assets/starya/bikesketch/';
        const bikesketch_totalFrames = 92;
        const bikesketch_animationDuration = 8000;
        const bikesketch_timePerFrame = bikesketch_animationDuration / bikesketch_totalFrames;
        let bikesketch_timeWhenLastUpdate;
        let bikesketch_timeFromLastUpdate;
        let bikesketch_frameNumber = 1;
        let bikesketch_animate = 0; // 0 stop, 1 forward, -1 reverse

        // 'step' function will be called each time browser rerender the content
        // we achieve that by passing 'step' as a parameter to the 'requestAnimationFrame' function
        function bikesketch_step(startTime) {
            // 'startTime' is provided by requestAnimationName function, and we can consider it as current time
            // first of all we calculate how much time has passed from the last time when frame was update
            if (!bikesketch_timeWhenLastUpdate) bikesketch_timeWhenLastUpdate = startTime;
            bikesketch_timeFromLastUpdate = startTime - bikesketch_timeWhenLastUpdate;

            // then we check if it is time to update the frame
            if (bikesketch_timeFromLastUpdate > bikesketch_timePerFrame) {
                // and update it accordingly
                $('#bikeimage').attr('src', bikesketch_imagePath + `/bike_sketch_${bikesketch_frameNumber}.png`);
                // reset the last update time
                bikesketch_timeWhenLastUpdate = startTime;
                // then increase the frame number or reset it if it is the last frame
                if (bikesketch_animate == 1) {
                    if (bikesketch_frameNumber >= bikesketch_totalFrames) {
                        // bikesketch_frameNumber = 1;
                    } else {
                        bikesketch_frameNumber = bikesketch_frameNumber + 1;
                    }
                }
                // if(bikesketch_animate == -1){
                //     if (bikesketch_frameNumber <= 1) {
                //     // bikesketch_frameNumber = 1;
                //     } else {
                //         bikesketch_frameNumber = bikesketch_frameNumber - 1;
                //     }
                // }
            }
            requestAnimationFrame(bikesketch_step);
        }

        function resume_or_pause() {
            if (bikesketch_frameNumber != bikesketch_totalFrames) {
                bikesketch_animate == 0
            }
            else {
                bikesketch_animate == 1
            }
        }



        window.addEventListener('DOMContentLoaded', function () {
            (function ($) {
                for (var i = 1; i < bikesketch_totalFrames + 1; i++) {
                    $('body').append(`<div id="preload-bikesketch-image-${i}" style="background-image: url('${bikesketch_imagePath}/bike_sketch_${i}.png');"></div>`);
                }
                bikesketch_animate = 0; requestAnimationFrame(bikesketch_step);
            })(jQuery);
        });

        $('#bike_img_trigger').appear();

        $('#bike_img_trigger').on('appear', function (event, $all_appeared_elements) {
            bikesketch_animate = 1;
            // this element is now inside browser viewport
        });
        $('#bike_img_trigger').on('disappear', function (event, $all_disappeared_elements) {
            bikesketch_frameNumber = 1;
            bikesketch_animate = 0;
            // this element is now outside browser viewport
        });


    </script>
</div>