---
layout: default
---
<style>
    .videobg-header {
        position: relative;
        height: 80vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
    }

    .videobg-header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        /* filter: grayscale(); */
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .videobg-header .page-header {
        position: relative;
        z-index: 2;
    }

    .videobg-header .pattern-overlay {
        position: absolute;
        background-image: linear-gradient(black 5%, transparent 40%);
        top: 0;
        left: 0;
        height: 100%;
        opacity: 0.8;
        width: 100%;
        z-index: 1;
    }

    .videobg-header .shape {
        filter: grayscale();
    }

    body {
        background: white;
    }

    /*
    
    @media screen and (min-width: 980px)
        {
        .videobg-header video {
            background: red;
        }
    }

    @media screen and (max-width: 979px)
        {
        .videobg-header video {
            background: blue;
        }
    }

    @media screen and (max-width: 500px)
        {
        .videobg-header video {
            background: green;
        }
    }
    


    @media (pointer: coarse) and (hover: none) {
        .videobg-header video {
            background: purple;
        }
    }

    */

</style>
<!-- Featured Image-->
<div class="wrapper">
    <div class="section section-hero section-shaped videobg-header">
        <!-- Pattern Overlay Bg-->
        <div class="pattern-overlay"></div>
        <div class="shape shape-style-1 shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <!-- Video Bg -->
        <video id="vid" preload="metadata" muted autoplay ></video>
            <!-- <source src="{{site.splash-videobg}}" type="video/mp4"> -->
            <!-- <p>Your browser doesn't support the HTML5 video tag it seems.</p> -->
        <script>


            function choosevideo(){
                var w = window.matchMedia("(max-width: 700px)");
                var vid = document.getElementById("vid");
                vid.innerHTML = '';
                var source = document.createElement("source");
                source.id = "hvid";
                source.setAttribute("type", "video/mp4");
                vid.appendChild(source);
                  
                if (w.matches) {
                    vid.pause();
                    source.removeAttribute("src");
                    source.setAttribute("src", "https://res.cloudinary.com/gowrav/video/upload/h_640,w_360,c_fill,g_auto/f_auto/q_auto/v1587997357/Gallery%20Starya/starya_splash_oqqrjd.mp4");
                    vid.load();
                    vid.play();
                } else {
                    vid.pause();
                    source.removeAttribute("src");
                    source.setAttribute("src", "https://res.cloudinary.com/gowrav/video/upload/f_auto/q_auto/v1587997357/Gallery%20Starya/starya_splash_oqqrjd.mp4");
                    vid.load();
                    vid.play();
                }
            }
            choosevideo();
            // window.addEventListener("resize", choosevideo);

            const video = document.querySelector('video');
            video.onended = (event) => {
                // $('html, body').animate({
                //     scrollTop: $("#homegrown").offset().top
                // }, 2000);
            };

        </script>
        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <img loading="lazy" src="{{site.url}}/assets/img/brand/white.png" style="width: 300px;"
                                class="img-fluid">
                            <h2 class="display-2 font-weight-normal text-white">{{site.tagline}}</h2>
                            <button type="button" class="btn btn-lg btn-warning btn-icon mb-3 mb-sm-0" data-toggle="modal" data-target="#modal-default">
                                <!-- <span class="btn-inner--text">Book</span> -->
                                <span class="btn-inner--icon"><i class="fas fa-biking"></i></span>
                                <span class="btn-inner--text">Test Drive</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew" style="z-index: auto;">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal- modal-dialog-centered modal-" role="document" style="max-width: 80vh;">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default">Starya - Test Drive</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body" style="height: 60vh;">
                            <iframe height="100%" width="100%" src="https://gowravhassan.typeform.com/to/eTvvFc">
                            </iframe>
                        </div>
                        <!-- <div class="modal-footer"> -->
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        <!-- <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</div>



<!-- Basic Intro-->
<div id="homegrown">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="info info-horizontal info-hover-primary">
                    <div class="description">
                        <h3 class="display-3 title">Home Grown</h3>
                        <p>To make it suistainable, we grew every part of the ev-core in house</p>
                        <label>Rated Power</label>
                        <code>6kW / 10kW</code>
                        <br>
                        <label>Acceleration [0-40]</label>
                        <code>3.9s</code>
                        <br>
                        <label>Top Speed</label>
                        <code>75kmph</code>
                        <br>
                        <a href="/ark" class="text-info">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 px-5">
                <img src="{{site.url}}/assets/starya/core_real.png" width="100%">
            </div>
        </div>
    </div>
</div>

<!-- Fancy -->
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-12 text-center">
            <div id="tooltip" class="btn-sm btn-primary text-uppercase" style="position: absolute;margin-top: -2rem;margin-left: -3rem;z-index: 100;display:block;visibility:hidden"></div>
            <canvas style="width:100%" id="corecontainer"></canvas>
            <div id="modalpreview"> <span class="badge badge-pill badge-success text-uppercase">Loading Preview</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-motor" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-info">PMSM Motor</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="description">
                    <p>Permanent.Magnet.Synchronous.Motor is chosen to provide the most efficient yet completely noiseless engine for ARK core</p>
                    <label>Type</label> <code>PMSM / BLAC</code>
                    <br>
                    <label>Continuous Power</label> <code>6.5kW</code>
                    <br>
                    <label>Peak Power</label> <code>10kW</code>
                    <br>
                    <label>Rated Speed</label> <code>2500RPM</code>
                    <br>
                    <label>Rated Torque</label> <code>30Nm</code>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-controller" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-info">FOC Controller</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="description">
                    <p>With a strong open source foundation our controller runs on popular VESC architecture utilizing realtime ChibiOS to make it the most resilient motor controller for an automobile.</p>
                    <label>Continuous Current</label> <code>300A</code>
                    <br>
                    <label>Burst Current</label> <code>450A</code>
                    <br>
                    <label>Control Mpde</label> <code>Field.Oriented.Control</code>
                    <br>
                    <label>Robustness</label> <code>Hard-Real.Time.Operating.System</code>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-powertrain" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-info">Power Train</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="description">
                    <p>2 Pulley speed reduction power train provides the most elegant power train utlizing carbon fiber belt for efficient energy transfer</p>
                    <label>Reduction Ratio</label> <code>3:1</code>
                    <br>
                    <label>Belt</label> <code>Carbon Fiber</code>
                    <br>
                    <label>Peak Torque</label> <code>120Nm+ [Consistent]</code>
                    <br>
                    <label>Peak Speed</label> <code>75kmph</code>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-cooling" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-info">Liquid Cooled</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="description">
                    <p>With great power comes great heat, and hence cooling becomes a necessity but with liquid cooling we bring not only coolness to the core but also improve its overall efficiency</p>
                    <label>Method</label> <code>Radiation</code>
                    <br>
                    <label>Coolant</label> <code>Liquid </code>
                    <br>
                    <label>Rated Transfer</label> <code>200 j/s</code>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{site.url}}/assets/3js/three.js"></script>
<script src="{{site.url}}/assets/3js/libs/stats.min.js"></script>
<script src="{{site.url}}/assets/3js/loaders/ColladaLoader.js"></script>
<script src="{{site.url}}/assets/3js/controls/OrbitControls.js"></script>
<script src="{{site.url}}/assets/3js/renderers/Projector.js"></script>
<script>
    var canvas,tooltip,modalpreview, controls, camera, scene, renderer, core, pickHelper;
                                        var pickPosition = {x: 0, y: 0};
                                        function init() {
                                            canvas = document.querySelector('#corecontainer');
                                            tooltip = document.querySelector('#tooltip');
                                            modalpreview = document.querySelector('#modalpreview');
                                            renderer = new THREE.WebGLRenderer({canvas:canvas,alpha: true});
                                            renderer.setClearColor( 0x000000, 0 ); // the default
                                            scene = new THREE.Scene();
                                            scene.background = new THREE.Color('white');
                                            const fov = 45;
                                            const aspect = 2;  // the canvas default
                                            const near = 0.1;
                                            const far = 100;
                                            camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
                                            camera.position.set( 0.6, 0.1, 0.4 );
                                            camera.lookAt( 0,0,0);
                                            {
                                                var ambientLight = new THREE.AmbientLight( 0xcccccc, 0.4 );
                                                scene.add( ambientLight );
                                                const color = 0xFFFFFF;
                                                const intensity = 0.8;
                                                var directionalLight = new THREE.DirectionalLight( color, intensity );
                                                directionalLight.position.set( 1, 1, 0 ).normalize();
                                                scene.add( directionalLight );
                                            }
                                            // interferese with raycaster
                                            // var axesHelper = new THREE.AxesHelper( 5 );
                                            // scene.add( axesHelper );
                                            // CONTROLS
                                            controls = new THREE.OrbitControls( camera, renderer.domElement );
                                            controls.autoRotate = true;
                                            controls.enableZoom  = false;
                                            controls.enablePan  = false;
                                            controls.enableRotate  = false;
                                            controls.maxDistance  = 1.0;
                                            controls.minDistance  = 0.6;
                                            // controls.target  = new THREE.Vector3(0.38, 0.2, -0.16 );
                                            controls.target  = new THREE.Vector3(0,0,0 );
                                            // loading manager
                                            var loadingManager = new THREE.LoadingManager( function () {
                                                scene.add( core );
                                                var motor = new THREE.Mesh( new THREE.CylinderGeometry( 0.1, 0.1,0.25, 32 ), new THREE.MeshLambertMaterial( { color: 0x0000ff,side: THREE.DoubleSide, transparent: true, opacity: 0.01 })) ;
                                                motor.position.set(-0.11,0,0);
                                                motor.rotation.x = Math.PI / 2;
                                                motor.name = "motor";
                                                scene.add( motor );
                                                var controller = new THREE.Mesh( new THREE.BoxGeometry( 0.08, 0.08,0.18 ), new THREE.MeshLambertMaterial( { color: 0x451903,side: THREE.DoubleSide, transparent: true, opacity: 0.01 })) ;
                                                controller.position.set(-0.4,-0.01,0);
                                                controller.name = "controller";
                                                scene.add( controller );
                                                var cooling = new THREE.Mesh( new THREE.BoxGeometry( 0.08, 0.14,0.3 ), new THREE.MeshLambertMaterial( { color: 0x000023,side: THREE.DoubleSide, transparent: true, opacity: 0.01 })) ;
                                                cooling.position.set(-0.27,-0.03,0);
                                                cooling.name = "cooling";
                                                scene.add( cooling );
                                                var pulley1 = new THREE.Mesh( new THREE.CylinderGeometry( 0.1, 0.1,0.04, 32 ), new THREE.MeshLambertMaterial( { color: 0xFFFFFF,side: THREE.DoubleSide, transparent: true, opacity: 0.01 })) ;
                                                pulley1.position.set(0.22,-0.015,0.15);
                                                pulley1.rotation.x = Math.PI / 2;
                                                pulley1.name = "pulley";
                                                scene.add( pulley1 );
                                                var pulley2 = new THREE.Mesh( new THREE.CylinderGeometry( 0.05, 0.05,0.04, 32 ), new THREE.MeshLambertMaterial( { color: 0xFFFFFF,side: THREE.DoubleSide, transparent: true, opacity: 0.01 })) ;
                                                pulley2.position.set(-0.11,-0.014,0.16);
                                                pulley2.rotation.x = Math.PI / 2;
                                                pulley2.name = "pulley";
                                                scene.add( pulley2 );
                                            } );
                                            // collada
                                            var loader = new THREE.ColladaLoader( loadingManager );
                                            loader.load( '{{site.url}}/assets/starya/core.dae', function ( collada ) {
                                                core = collada.scene;
                                                // when the mouse moves, call the given function
                                                window.addEventListener('mousemove', setPickPosition);
                                                window.addEventListener('mouseout', clearPickPosition);
                                                window.addEventListener('mouseleave', clearPickPosition);
                                                window.addEventListener('touchstart', (event) => {
                                                    // prevent the window from scrolling
                                                    //    event.preventDefault();
                                                        setPickPosition(event.touches[0]);
                                                    }, {passive: false}
                                                );
                                                window.addEventListener('touchmove', (event) => {
                                                    setPickPosition(event.touches[0]);
                                                });
                                                window.addEventListener('touchend', clearPickPosition);
                                                clearPickPosition();
                                                requestAnimationFrame(render);
                                                pickHelper = new PickHelper();
                                            } );
                                        }
                                        var openmodal = function (modal) {
                                                $("#modal-motor").modal("hide")
                                                $("#modal-controller").modal("hide")
                                                $("#modal-powertrain").modal("hide")
                                                $("#modal-cooling").modal("hide")
                                                switch(modal){
                                                    case 'motor'      :  $("#modal-motor").modal("show");break;
                                                    case 'controller' :  $("#modal-controller").modal("show");break;
                                                    case 'pulley'     :  $("#modal-powertrain").modal("show");break;
                                                    case 'cooling'    :  $("#modal-cooling").modal("show");break;
                                                }
                                            };
                                        var prepmodal = null;
                                        class PickHelper {
                                        constructor() {
                                            this.raycaster = new THREE.Raycaster();
                                            this.pickedObject = null;
                                            this.pickedObjectSavedColor = 0;
                                        }
                                        pick(normalizedPosition, scene, camera, time) {
                                                // // restore the color if there is a picked object
                                                if (this.pickedObject) {
                                                this.pickedObject.material.emissive.setHex(this.pickedObjectSavedColor);
                                                this.pickedObject = undefined;
                                                }
                                                // cast a ray through the frustum
                                                this.raycaster.setFromCamera(normalizedPosition, camera);
                                                // get the list of objects the ray intersected
                                                const intersectedObjects = this.raycaster.intersectObjects(scene.children);
                                                if (intersectedObjects.length) {
                                                    // pick the first object. It's the closest one
                                                    this.pickedObject = intersectedObjects[0].object;
                                                    // if holding on to the same then popup modal
                                                    if(tooltip.innerHTML == this.pickedObject.name){
                                                        if(prepmodal == null)
                                                            prepmodal = setTimeout(openmodal, 1000, this.pickedObject.name);
                                                    }else{
                                                        // stop modal
                                                        if(prepmodal != null)
                                                            clearTimeout(prepmodal);
                                                        prepmodal = null;
                                                    }
                                                    tooltip.innerHTML = this.pickedObject.name;
                                                    tooltip.style.visibility = 'visible';
                                                    modalpreview.style.visibility = 'visible'
                                                    // save its color
                                                    this.pickedObjectSavedColor = this.pickedObject.material.emissive.getHex();
                                                    // set its emissive color to flashing red/yellow
                                                    this.pickedObject.material.emissive.setHex((time * 8) % 2 > 1 ? 0xFFFF00 : 0xFF0000);
                                                }else{
                                                    if(prepmodal != null)
                                                        clearTimeout(prepmodal);
                                                    prepmodal = null;
                                                    tooltip.innerHTML = "";
                                                    tooltip.style.visibility = 'hidden';
                                                    modalpreview.style.visibility = 'hidden'
                                                }
                                            }
                                        }
                                        function getCanvasRelativePosition(event) {
                                            const rect = canvas.getBoundingClientRect();
                                            const x = (event.clientX - rect.left) * canvas.width  / rect.width;
                                            const y = (event.clientY - rect.top ) * canvas.height / rect.height;
                                            if(x > 0 & y > 0 & x < (canvas.width) & y < (canvas.height))
                                            {
                                                tooltip.style.left = x + 'px';
                                                tooltip.style.top = y + 'px';
                                            }
                                            return {
                                                x: x,
                                                y: y,
                                            };
                                        }
                                        function setPickPosition(event) {
                                            const pos = getCanvasRelativePosition(event);
                                            pickPosition.x = (pos.x / canvas.width ) *  2 - 1;
                                            pickPosition.y = (pos.y / canvas.height) * -2 + 1;  // note we flip Y
                                        }
                                        function clearPickPosition() {
                                            // unlike the mouse which always has a position
                                            // if the user stops touching the screen we want
                                            // to stop picking. For now we just pick a value
                                            // unlikely to pick something
                                            pickPosition.x = -100000;
                                            pickPosition.y = -100000;
                                        }
                                        function resizeRendererToDisplaySize(renderer) {
                                            const canvas = renderer.domElement;
                                            const width = canvas.clientWidth;
                                            const height = canvas.clientHeight;
                                            const needResize = canvas.width !== width || canvas.height !== height;
                                            if (needResize) {
                                                renderer.setSize(width, height, false);
                                            }
                                            return needResize;
                                        }
                                        function render(time) {
                                            if (resizeRendererToDisplaySize(renderer)) {
                                                const canvas = renderer.domElement;
                                                camera.aspect = canvas.clientWidth / canvas.clientHeight;
                                                camera.updateProjectionMatrix();
                                            }
                                            pickHelper.pick(pickPosition, scene, camera, time);
                                            renderer.render(scene, camera);
                                            requestAnimationFrame(render);
                                            controls.update();
                                        }
                                        init();
</script>


<!-- Assembly -->

<script type="text/javascript" src="{{site.url}}/assets/js/core/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/plugins/jquery.appear.js"></script>

<div class="container py-5">
    <div id="homegrown" class="row align-items-center">
        <div class="col-lg-9">
            <div id="bikeimagesequence">
                <img style="width:100%" id="bikeimage" src="{{site.url}}/assets/starya/bikesketch/bike_sketch_1.png"
                    onclick="resume_or_pause()" /><br>
            </div>
        </div>
        <div class="col-lg-3">
            <div id="bike_img_trigger" data-appear-top-offset="0"></div>
            <div class="info info-horizontal info-hover-primary">
                <div class="description">
                    <h3 class="display-3 title">Upgrade</h3>
                    <p>Agile Ride Kit (ARK), is a plug and play conversion kit that can convert any single suspension
                        internal combustion engine scooter to electric.</p>
                    <a href="/ark" class="text-info">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <script>

        // Bikesketch Animation
        const bikesketch_imagePath = '{{site.url}}/assets/starya/bikesketch/';
        const bikesketch_totalFrames = 92;
        const bikesketch_animationDuration = 8000;
        const bikesketch_timePerFrame = bikesketch_animationDuration / bikesketch_totalFrames;
        let bikesketch_timeWhenLastUpdate;
        let bikesketch_timeFromLastUpdate;
        let bikesketch_frameNumber = 1;
        let bikesketch_animate = 0; // 0 stop, 1 forward, -1 reverse

        // 'step' function will be called each time browser rerender the content
        // we achieve that by passing 'step' as a parameter to the 'requestAnimationFrame' function
        function bikesketch_step(startTime) {
            // 'startTime' is provided by requestAnimationName function, and we can consider it as current time
            // first of all we calculate how much time has passed from the last time when frame was update
            if (!bikesketch_timeWhenLastUpdate) bikesketch_timeWhenLastUpdate = startTime;
            bikesketch_timeFromLastUpdate = startTime - bikesketch_timeWhenLastUpdate;

            // then we check if it is time to update the frame
            if (bikesketch_timeFromLastUpdate > bikesketch_timePerFrame) {
                // and update it accordingly
                $('#bikeimage').attr('src', bikesketch_imagePath + `/bike_sketch_${bikesketch_frameNumber}.png`);
                // reset the last update time
                bikesketch_timeWhenLastUpdate = startTime;
                // then increase the frame number or reset it if it is the last frame
                if (bikesketch_animate == 1) {
                    if (bikesketch_frameNumber >= bikesketch_totalFrames) {
                        // bikesketch_frameNumber = 1;
                    } else {
                        bikesketch_frameNumber = bikesketch_frameNumber + 1;
                    }
                }
                // if(bikesketch_animate == -1){
                //     if (bikesketch_frameNumber <= 1) {
                //     // bikesketch_frameNumber = 1;
                //     } else {
                //         bikesketch_frameNumber = bikesketch_frameNumber - 1;
                //     }
                // }
            }
            requestAnimationFrame(bikesketch_step);
        }

        function resume_or_pause() {
            if (bikesketch_frameNumber != bikesketch_totalFrames) {
                bikesketch_animate == 0
            }
            else {
                bikesketch_animate == 1
            }
        }



        window.addEventListener('DOMContentLoaded', function () {
            (function ($) {
                for (var i = 1; i < bikesketch_totalFrames + 1; i++) {
                    $('body').append(`<div id="preload-bikesketch-image-${i}" style="background-image: url('${bikesketch_imagePath}/bike_sketch_${i}.png');"></div>`);
                }
                bikesketch_animate = 0; requestAnimationFrame(bikesketch_step);
            })(jQuery);
        });

        $('#bike_img_trigger').appear();

        $('#bike_img_trigger').on('appear', function (event, $all_appeared_elements) {
            bikesketch_animate = 1;
            // this element is now inside browser viewport
        });
        $('#bike_img_trigger').on('disappear', function (event, $all_disappeared_elements) {
            bikesketch_frameNumber = 1;
            bikesketch_animate = 0;
            // this element is now outside browser viewport
        });


    </script>
</div>