---
layout: default
---
<!-- Featured Image -->
{% include featured-image.html %}

<div class="wrapper">
  <section class="section bg-secondary">
    <div class="container">
      <div class="card card-profile shadow mt--300">
          <!-- Author -->
          {% include author.html %}
          
          <!-- Metadata page -->
          {% include pagemeta.html %}

          <!-- Content -->
          {% include article.html %}
  
          <!-- Comments if not disabled with comments: false -->
          {% include comments.html %}
        </div>
    </div>
  </section>
</div>